<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title> Vaccination Plan - Vaccines Overview</title><style>
                    body {
                        font-family: Verdana, sans-serif;
                    }
                    table {
                        font-family: Verdana, sans-serif;
                        border-collapse: collapse;
                        width: 31em;
                        border: 1px solid #080808;
                    }

                    tr {
                        border: 2px solid #000000;
                        border-width: 1px 0;
                    }

                    td, th {
                        border: 1px solid #080808;
                        padding: 8px;    
                        vertical-align: top;
                    }

                    tr:hover {background-color: #fdf3fd;}

                    th {
                        padding-top: 2px;
                        border: 1px solid #080808;
                        padding-bottom: 2px;
                        text-align: center;
                        background-color: #6c3b6c;
                        color: white;
                        vertical-align: top;
                    }
                </style></head>
   <body>
      <h1>Overview on vaccine types</h1>
      <hr>
      <h2>Pfizer/BioNTech</h2><b> Type: </b>mRNA<br>
      This vaccine is authorized.<br><br>
      Below is a list of all batches of the vaccine Pfizer/BioNTech. For each such batch, the patients who
      recieved a dose from this batch are listed.  
      
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Batch: BioN-1255-7A7</h3>
                        				Adapted batch for B.1.1.7
                        			
                     </th>
                  </tr>
                  <tr>
                     <td><b>Vaccinated People:</b></td>
                  </tr>
                  <tr>
                     <td><b>Name: </b>Elisabeth Drosten ( Age: 81 )
                        <br><b>Residences(s):</b><br>
                        					Vienna, AT
                        				<br>
                        					Burgenland, AT
                        				<br>
                        					Lingen, DE
                        				<br>
                        					Downey, US
                        				<br>
                        					Woolsthorpe Manor, UK
                        				<br><b>Risk Group: </b><em>High</em><br><b>Received doses</b><br>1.
                        dose received on 2021-02-05.
                        
                        
                        
                        
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Found: 1 Patient(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Batch: BioN-2726-2D9</h3>
                        				Adapted batch for B.1.1.8
                        			
                     </th>
                  </tr>
                  <tr>
                     <td><b>Vaccinated People:</b></td>
                  </tr>
                  <tr>
                     <td><b>Name: </b>Elisabeth Drosten ( Age: 81 )
                        <br><b>Residences(s):</b><br>
                        					Vienna, AT
                        				<br>
                        					Burgenland, AT
                        				<br>
                        					Lingen, DE
                        				<br>
                        					Downey, US
                        				<br>
                        					Woolsthorpe Manor, UK
                        				<br><b>Risk Group: </b><em>High</em><br><b>Received doses</b><br>2.
                        dose received on 2021-03-01.
                        
                        
                        
                        
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Found: 1 Patient(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Moderna</h2><b> Type: </b>mRNA<br>
      This vaccine is authorized.<br><br>
      Below is a list of all batches of the vaccine Moderna. For each such batch, the patients who
      recieved a dose from this batch are listed.  
      
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Batch: ModE-1351-3B6</h3>
                        				Adapted batch for B.1.351
                        			
                     </th>
                  </tr>
                  <tr>
                     <td><b>Vaccinated People:</b></td>
                  </tr>
                  <tr>
                     <td>
                        Found: 0 Patient(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Batch: ModE-1125-2C8</h3>
                        				Adapted batch for B.1.1.7
                        			
                     </th>
                  </tr>
                  <tr>
                     <td><b>Vaccinated People:</b></td>
                  </tr>
                  <tr>
                     <td>
                        Found: 0 Patient(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>AstraZeneca</h2><b> Type: </b>Adenovirus-based<br>
      This vaccine is authorized.<br><br>
      Below is a list of all batches of the vaccine AstraZeneca. For each such batch, the patients who
      recieved a dose from this batch are listed.  
      
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Batch: AstZ-5587-8B5</h3>
                        				First batch
                        			
                     </th>
                  </tr>
                  <tr>
                     <td><b>Vaccinated People:</b></td>
                  </tr>
                  <tr>
                     <td>
                        Found: 0 Patient(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Batch: AstZ-8872-3C4</h3>
                        				Second batch
                        			
                     </th>
                  </tr>
                  <tr>
                     <td><b>Vaccinated People:</b></td>
                  </tr>
                  <tr>
                     <td><b>Name: </b>Victoria Sealy Gosset<br><b>Residences(s):</b><br>
                        					Vienna, AT
                        				<br><b>Risk Group: </b><em>Low</em><br><b>Received doses</b><br>1.
                        dose received on 2021-06-30.
                        
                        
                        
                        
                     </td>
                  </tr>
                  <tr>
                     <td><b>Name: </b>Lydia Bernoulli ( Age: 49 )
                        <br><b>Residences(s):</b><br>
                        					Vienna, AT
                        				<br>
                        					Basel, CH
                        				<br><b>Risk Group: </b><em>Medium</em><br><b>Received doses</b><br>1.
                        dose received on 2021-05-15.
                        
                        
                        
                        
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Found: 2 Patient(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Sputnik V</h2><b> Type: </b>Adenovirus-based<br>
      Warning! This vaccine was not yet authorized.
      <br><h4>No batches received so far!</h4>
      <hr>
   </body>
</html>